{% extends 'authorization_base.html' %}
{% block Main %}
<form method="post">
    <div class="data">
        <p class="enter_data">Введите ваш логин</p>
        <div class="data_field_block"><input class="data_field" type="text" name="username" id="username"></div>
    </div>
    <div class="data-b">
        <p class="enter_data-b">Введите ваш пароль</p>
        <div class="data_field_block"><input class="data_field" type="text" name="password" id="password"></div>
        <a href="/forgotpass"><p class="forgot_password">Забыли пароль?</p></a>
        <input type="checkbox" name="remember">
    </div>
    <button class="enter_button"><input type="submit" class="enter_btn" value="Войти"></button>
</form>
{% endblock %}