<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>CSP project</title>
</head>

<body>
    <div class="wrapper">

        <header class="header">
            <div class="header_container container">
                <a class="" href="/literature">
                    <div class="header_logo"></div>
                </a>

                <nav class="nav_menu menu">
                    <ul class="nav_list">
                        <li class="nav_item">
                            <a href="timetable.html" class="item_link">Расписание</a>
                        </li>
                        <li class="nav_item">
                            <a href="grades.html" class="item_link">Успеваемость</a>
                        </li>
                        <li class="nav_item">
                            <a href="literature.html" class="item_link">Литература</a>
                        </li>
                        <li class="nav_item">
                            <a href="#" class="item_link">Учителя</a>
                        </li>
                    </ul>
                </nav>

                <a href="#">
                    <div class="login">
                        <div class="login_img"></div>
                    </div>
                </a>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="literature_block">
                    <p class="title">Литература</p>
                    <div class="search_field">
                        <input class="search" type="text" placeholder="Введите название">
                        <a href="#"><div class="search_btn"></div></a> 
                    </div>
                    <div class="literature_list">
                        <div class="literature_item">
                            <div class="lit_img"></div>
                            <p class="lit_name">-</p>
                        </div>
                        <div class="literature_item">
                            <div class="lit_img"></div>
                            <p class="lit_name">-</p>
                        </div>
                        <div class="literature_item">
                            <div class="lit_img"></div>
                            <p class="lit_name">-</p>
                        </div>
                        <div class="literature_item">
                            <div class="lit_img"></div>
                            <p class="lit_name">-</p>
                        </div>
                        <div class="literature_item">
                            <div class="lit_img"></div>
                            <p class="lit_name">-</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p class="footer_txt">Copyright by CSP @2021-2021</p>
                <div class="footer_img"></div>
            </div>
        </footer>
    </div>
</body>

</html>