{% extends 'literature_base.html' %}
{% block Logo %}
<a class="" href="/literature">
    <div class="header_logo"></div>
</a>
{% endblock %}
{% set list = Library.query.all() %}
{% block book %}
{% for i in list %}
    {% if Name and Name in i.BookName.lower() %}

        <div class="literature_item">
            <a class="lit_link" href="{{ i.BookLink }}" target="_blank">
                <div class="lit_img">

                </div>
            </a>
            <p class="lit_name">{{ i.BookName }}</p>
        </div>

    {% endif %}
{% endfor %}
{% endblock %}