{% extends 'index.html' %}

{% block Marks %}
{% for i in allMarks %}
    {% set lessonName = (Lessons.query.filter_by(Id=i.LessonId).first()).LessonName %}
    <div class="item-grades-inf_line">
        <div class="short_item-grades-inf">{{ lessonName }}</div>
        <div class="short_item-grades-inf">{{ i.Mark }}</div>
    </div>
{% endfor %}
{% endblock %}

{% block Schedule %}
    {% for i in schedules %}
        <div class="timetable_line">
            <div class="timetable_date"></div>
            <div class="timetable_item"></div>
            <div class="timetable_class"></div>
        </div>
    {% endfor %}
{% endblock %}