<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>CSP project</title>
</head>
<body>
  <div class="error">
    <div class="error__img">
    </div>
    <div class="error-content">
      <h1 class="error-content__title">404</h1>
      <h2 class="error-content__subtitle">Страница не найдена :(</h2>
      <p class="error-content__desc">
        По&nbsp;данному запросу не&nbsp;нашлось страниц... Но&nbsp;Вы&nbsp;можете вернуться на&nbsp;главную страницу сайта!
      </p>
      <a href="/main" class="error-content__link">Перейти на главную</a>
    </div>
  </div>
</body>
</html>