{% extends 'timetable.html' %}

{% block monday %}
{% for i in schedules_monday %}
    <div class="timetable_line">
        <div class="timetable_date">{{ i.LessonTime }}</div>
        <div class="timetable_item">{{ Lessons.query.filter_by(Id=i.LessonId).first().LessonName }}</div>
        <div class="timetable_class">{{ i.Office }}</div>
    </div>
{% endfor %}
{% endblock %}



{% block tuesday %}
{% for i in schedules_tuesday %}
    <div class="timetable_line">
        <div class="timetable_date">{{ i.LessonTime }}</div>
        <div class="timetable_item">{{ (Lessons.query.filter_by(Id=i.LessonId).first()).LessonName }}</div>
        <div class="timetable_class">{{ i.Office }}</div>
    </div>
{% endfor %}
{% endblock %}



{% block wednesday %}
{% for i in schedules_wednesday %}
    <div class="timetable_line">
        <div class="timetable_date">{{ i.LessonTime }}</div>
        <div class="timetable_item">{{ (Lessons.query.filter_by(Id=i.LessonId).first()).LessonName }}</div>
        <div class="timetable_class">{{ i.Office }}</div>
    </div>
{% endfor %}
{% endblock %}



{% block thursday %}
{% for i in schedules_thursday %}
    <div class="timetable_line">
        <div class="timetable_date">{{ i.LessonTime }}</div>
        <div class="timetable_item">{{ (Lessons.query.filter_by(Id=i.LessonId).first()).LessonName }}</div>
        <div class="timetable_class">{{ i.Office }}</div>
    </div>
{% endfor %}
{% endblock %}



{% block friday %}
{% for i in schedules_friday %}
    <div class="timetable_line">
        <div class="timetable_date">{{ i.LessonTime }}</div>
        <div class="timetable_item">{{ (Lessons.query.filter_by(Id=i.LessonId).first()).LessonName }}</div>
        <div class="timetable_class">{{ i.Office }}</div>
    </div>
{% endfor %}
{% endblock %}



{% block saturday %}
{% for i in schedules_saturday %}
    <div class="timetable_line">
        <div class="timetable_date">{{ i.LessonTime }}</div>
        <div class="timetable_item">{{ (Lessons.query.filter_by(Id=i.LessonId).first()).LessonName }}</div>
        <div class="timetable_class">{{ i.Office }}</div>
    </div>
{% endfor %}
{% endblock %}