{% extends 'teachers_base.html' %}
{% block teacher %}
    {% set teachers = Users.query.filter(Users.UserTypeId==3).all() %}
    {% for i in teachers %}
        {% set f = Fernet(bytes(Users.query.filter(Users.UserId == i.UserId).first().Token.split('b')[1], encoding='utf-8')) %}
        {% set mail = f.decrypt(i.Email) %}
        <div class="teacher_item">
            <div class="teacher_img">
                <div class="teachers_img"></div>
                <div class="teachers_name">{{ i.Name }}</div>
            </div>
            <div class="teacher_inf">
                <p class="teachers_txt"> {{ mail.decode('utf-8') }} </p>
                <p class="teachers_txt"> {{ i.PhoneNumber }} </p>
                {% set uid = i.UserId %}
                <a href="/ttimetable/{{ uid }}">
                    <div class="teachers_timetable">Расписание преподавателя</div>

                </a>
            </div>
        </div>
    {% endfor %}
{% endblock %}