{% extends 'timetable_base.html' %}

{% block timetable %}

{% for j in dates %}
    {% set year = datetime.datetime.today().year %}
    {% set full_date = j + '.' + str(year) %}
    {% set workdate = datetime.datetime.strptime(full_date, "%d.%m.%Y") %}
    {% set week_day = calendar.day_name[workdate.date().weekday()] %}
    {% set schedules_filtred = ScheduleList.query.filter(ScheduleList.LessonDate.between((int(DAY) - cur_day), (int(DAY) - cur_day) + 6)).filter_by(LessonDate=j).all() %}

    {% set subtitle = [j, ru(week_day)] %}

    <div class="timetable_block">
        <div class="short_timetable">
            <p class="subtitle">{{ subtitle | join(", ") or "" }}</p>

            {% for i in schedules_filtred %}


                        <div class="timetable_line">
                            <div class="timetable_date">{{ i.LessonTime.split('-')[0] }}<br>{{ i.LessonTime.split('-')[1] }}</div>
                            <div class="timetable_item">
                                <div class="timetable_item-name">{{ Lessons.query.filter_by(Id=i.LessonId).first().LessonName }}</div>
                                <div class="timetable_subtitle">{{ Users.query.filter(Users.UserId==i.TeacherId).first().Name }}</div>
                            </div>
                            <div class="timetable_class">{{ i.Office }}</div>
                        </div>


            {% endfor %}

        </div>
    </div>
{% endfor %}
{% endblock %}