*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

input {
    border: none;
    outline: none;
}

button {
    background: none;
}

.textarea {
    resize: none;
    outline: none;
    font-family: inherit;
}

#btn-hover {
    transition: background-color 0.5s;
    cursor: pointer;
}

#btn-hover:hover {
    background: white;
    color: black;
    border: 2px solid black;
}

#btn-hover:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 0 0 30px 0;
    text-align: center;
}

html,
body {
    font-size: 16px;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: black;
    color: white;
}

body.lock {
    overflow: hidden;
}

/*-------------------------------------------------------------------*/

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    box-sizing: content-box;
    padding: 0 15px;
    max-width: 1200px;
    margin: 0px auto;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: none;
    }
}

/*--- HEADER ---*/

.header {
    height: 110px;
    padding: 10px 0;
}

.header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header__logo {
    width: 100px;
    height: 100px;
}

.registration__logo__link {
    margin: 0 auto;
}

.header__burger {
    display: none;
}

.header__links {
    display: flex;
    flex-wrap: wrap;
}

.links__item {
    font-size: 18px;
    font-weight: bold;
}

.header__link {
    display: inline-block;
    position: relative;
}

.header__link:not(:last-child) {
    margin: 0 50px 0 0;
}

.header__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.header__link:hover::after {
    width: 100%;
    left: 0;
}

.header__profile {
    width: 75px;
    height: 75px;
    background: white;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.burger-profile__link {
    display: none;
}

.header__profile:hover {
    background: black;
}

.header__profile:hover .profile__img {
    background: url(../img/white.png) center no-repeat;
    background-size: 80%;
}

.profile__img {
    width: 100%;
    height: 100%;
    background: url(../img/black.png) center no-repeat;
    background-size: 80%;
    transition: .5s;
}

@media (max-width: 1200px) {
    .header__links {
        position: fixed;
        top: -100%;
        right: 0;
        width: 300px;
        height: 100%;
        background: white;
        z-index: 1;
        padding: 180px 0 0 20px;
        display: block;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }

    .header__profile {
        display: none;
    }

    .header__link {
        color: #555555;
        display: block;
    }

    .burger-profile__link {
        border: 2px solid black;
        border-radius: 15px;
        width: max-content;
        padding: 10px 5px;
        color: black;
    }

    .burger-profile__link:active {
        color: #555555;
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    .profile__link {
        display: none;
    }

    .header__link:not(:last-child) {
        margin: 0 0 10px 0;
    }

    .links__item {
        font-size: 24px;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger:before,
    .header__burger:after {
        content: '';
        background: white;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger span {
        position: absolute;
        background: white;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger.burger__active:before,
    .header__burger.burger__active:after {
        background: black;
    }

    .header__burger.burger__active:before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.burger__active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__burger.burger__active span {
        transform: scale(0);
    }

    .header__links.burger__active {
        top: 0;
    }
}

@media (max-width: 768px) {
    .header__links {
        width: 100%;
        left: 0;
    }
}

/*--- END HEADER ---*/


/*--- MAIN ---*/

.main {
    width: 100%;
    padding: 128px 0;
    flex: 1 1 auto;
}

/*--- END MAIN ---*/

/*--- FOOTER ---*/

.footer {
    background: white;
    height: 200px;
    padding: 20px 0;
}

.footer__txt {
    font-size: 18px;
    color: #737373;
}

.company__logo {
    width: 76px;
    height: 74px;
}

/*--- END FOOTER ---*/


/*--- NEWS ---*/

.news__block {
    margin: 0 0 150px 0;
    display: flex;
    justify-content: space-between;
}

.last-news__block {
    overflow: hidden;
    max-width: 810px;
}

.last-news {
    height: max-content;
    border-radius: 17px;
}

.last-new {
    max-width: 810px;
    transition: all 0.6s ease;
}

.last-new__img-block {
    width: 100%;
    height: 502px;
}

.last-news__img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.slide-navigation {
    display: flex;
    margin: 15px auto 0 auto;
    width: max-content;
}

.slide-navigation__bar {
    height: 10px;
    width: 35px;
    background: white;
    opacity: 0.5;
    border-radius: 15px;
    cursor: pointer;
}

.slide-navigation__bar:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.slide-navigation__bar:not(:last-child) {
    margin: 0 10px 0 0;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

#r1:checked~.s1 {
    margin: 0;
}

#r2:checked~.s1 {
    margin: 0 0 0 -25%;
}

#r3:checked~.s1 {
    margin: 0 0 0 -50%;
}

#r4:checked~.s1 {
    margin: 0 0 0 -75%;
}


.last-news__txt {
    color: #555555;
    font-size: 24px;
    text-align: center;
    padding: 45px 27px;
    background: white;
    border-radius: 0 0 15px 15px;
}



@media (max-width: 768px) {
    .last-news__txt {
        font-size: 18px;
    }
}

.vk-news {
    height: max-content;
    width: 323px;
    border-radius: 17px;
    background: white;
}

#vkwidget1 {
    border-radius: 15px;
}

@media (max-width: 360px) {
    .vk-news {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .news__block {
        display: block;
    }

    .last-news__block {
        margin: 0 auto 50px auto;
        max-width: 810px;
    }

    .last-news {
        margin: 0 auto;
    }

    .vk-news__block {
        margin: 0 auto;
    }

    .vk-news {
        margin: 0 auto;
    }
}

/*--- END NEWS ---*/


/*--- WEEK INFO ---*/

.week-info {
    background: white;
    width: 100%;
    border-radius: 15px;
    height: max-content;
    padding: 43px 32px;
}

.timetable-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.timetable__date {
    font-size: 24px;
    color: #555555;
    margin: 0 0 15px 0;
}

.timetable__item {
    margin: 0 0 50px 0;
}

.timetable {
    display: flex;
    justify-content: center;
}

.timetable__line:last-child {
    width: 436px;
}

.timetable__time {
    background: black;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    width: 112px;
    height: 100px;
    font-size: 18px;
    word-break: break-word;
    padding: 0 20px;
    text-align: center;
}

.timetable__time:last-child {
    border-radius: 0 0 0 15px;
}

.timetable__time:first-child {
    border-radius: 15px 0 0 0;
}

.timetable__subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    border-bottom: 2px solid white;
    width: 100%;
    height: 100px;
    padding: 0 22px;
}

.timetable__subject:last-child {
    border-radius: 0 0 15px 0;
}

.timetable__subject:first-child {
    border-radius: 0 15px 0 0;
}

.subject__name {
    font-size: 24px;
    line-height: 22px;
}

.timetabl-teacher__name {
    font-size: 14px;
    color: #9E9E9E;
    line-height: 22px;
}

.classroom__number {
    font-size: 18px;
}

@media (max-width: 1201px) {
    .timetable-info {
        display: block;
        text-align: center;
    }

    .timetable__item {
        margin: 0 auto 50px auto;
    }
}

@media (max-width: 643px) {
    .timetable__line:last-child {
        width: 100%;
    }

    .week-info {
        padding: 43px 0;
    }

    .timetable__item {
        width: 100%;
    }

    .timetable__subject:last-child {
        border-radius: 0 0 0 0;
    }

    .timetable__subject:first-child {
        border-radius: 0 0 0 0;
    }

    .timetable__time:last-child {
        border-radius: 0 0 0 0;
    }

    .timetable__time:first-child {
        border-radius: 0 0 0 0;
    }
}

@media (max-width: 408px) {
    .timetable__date {
        font-size: 18px;
    }

    .subject__name {
        font-size: 18px;
    }

    .timetable__time {
        font-size: 16px;
        padding: 0 25px;
    }
}

/*--- END WEEK INFO ---*/


/*--- SEARCH ---*/

.search__block {
    display: flex;
    width: 470px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 20px;
}

.search__field {
    width: 80%;
    height: 100%;
    font-size: 18px;
}

.search-btn__img {
    width: 30px;
    height: 30px;
}

.search-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .search__block {
        width: 100%;
    }
}

/*--- END SEARCH ---*/


/*--- LITERATURE ---*/

.literature__list {
    display: flex;
    justify-content: space-between;
    margin: 65px 0 0 0;
    flex-wrap: wrap;
}

.literature__item {
    width: 270px;
    height: max-content;
    background: white;
    border-radius: 15px;
    padding: 12px;
    margin: 0 0 30px 0;
}

.literature__img__block {
    min-width: 246px;
    height: 338px;
}

.literature__img {
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.literature__txt {
    color: #555555;
    font-size: 18px;
    text-align: center;
    margin: 14px 0 0 0;
}

@media (max-width: 570px) {
    .literature__list {
        justify-content: space-around;
    }
}

/*--- END LITERATURE ---*/


/*--- TEACHERS ---*/

.teachers__block {
    background: white;
    border-radius: 15px;
    padding: 15px;
    max-width: 705px;
    height: max-content;
    margin: 0 auto 50px auto;
}

.teacher__info {
    display: flex;
    justify-content: space-between;
}

.teacher__img__block {
    width: 200px;
    height: max-content;
}

.teacher__img {
    border-radius: 15px;
    background: black;
    object-fit: cover;
    width: 200px;
    height: 255px;
    margin: 0 0 12px 0;
}

.teacher__contacts {
    width: 440px;
    padding: 0 0 0 15px;
}

.contacts__item {
    border: 2px solid black;
    width: 100%;
    height: max-content;
    padding: 8px 10px;
    border-radius: 15px;
    margin: 0 0 10px 0;
    color: #555555;
}

.teacher__timetable-btn {
    width: 265px;
    height: 55px;
    background: black;
    color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
}

.teacher__name {
    font-size: 16px;
    font-weight: bold;
    color: #555555;
    text-align: center;
}

@media (max-width: 540px) {
    .teacher__info {
        display: block;
    }

    .teacher__img__block {
        margin: 0 auto 30px auto;
    }

    .teacher__contacts {
        width: 100%;
        padding: 0;
    }

    .teacher__timetable-btn {
        margin: 0 auto;
    }
}

@media (max-width: 338px) {
    .teacher__info {
        display: block;
    }

    .teacher__img__block {
        margin: 0 auto 30px auto;
    }

    .teacher__contacts {
        font-size: 14px;
    }

    .teacher__timetable-btn {
        width: 100%;
    }
}

/*--- END TEACHERS ---*/


/*--- LOGIN ---*/

.login__title {
    width: 350px;
    margin: 0 auto 30px auto;
}

.login__block {
    height: 393px;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 5px solid white;
    padding: 70px 50px;
    border-radius: 15px;
}

.enter-data__field {
    width: 330px;
    height: 50px;
    border-radius: 15px;
    padding: 0 15px;
    background: white;
    margin: 0 0 20px 0;
}

.enter-data__input {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #555555;
}

.login__btn__block {
    margin: 30px auto 0 auto;
    width: max-content;
}

.login__btn {
    width: max-content;
    height: max-content;
    padding: 13px 80px;
    background: white;
    color: black;
    border-radius: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: background .5s;
}

.login__btn:hover {
    background: black;
    color: white;
    outline: 2px solid white;

}

/*--- END LOGIN ---*/



/*--- PROFILE ---*/

.profile {
    display: flex;
    justify-content: space-between;
}

.add-news {
    max-width: 590px;
    min-width: 590px;
}


.add-news__txt {
    width: 100%;
    height: max-content;
    min-height: 120px;
    background: white;
    border-radius: 15px;
    margin: 20px 0 0 0;
    padding: 15px;
}

.add-news__textarea {
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: #555555;
}

.add-news__btn-block {
    margin: 20px auto 0 auto;
    width: max-content;
}

.add-news__btn {
    width: 260px;
    height: 55px;
    text-align: center;
    border-radius: 15px;
    background: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.5s ease;
}

.add-news__btn:hover {
    background: black;
    color: white;
    border: 2px solid white;
}

.profile__info {
    display: flex;
    max-width: 590px;
    min-width: 590px;
    justify-content: space-between;
}

.profile__changes {
    width: 190px;
}

.profile__avatar {
    padding: 5px;
    background: white;
    width: 100%;
    height: 255px;
    border-radius: 15px;
    margin: 0 0 15px 0;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.avatar__input {
    display: none;
}

.change__btn {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    transition: background 0.3s;
}

.change__btn:hover {
    background: black;
    color: white;
    border: 2px solid white;
}

.change__btn:not(:last-child) {
    margin: 0 0 15px 0;
}

.change-pass__btn {
    width: 100%;
    height: 40px;
    color: white;
    border: 2px solid white;
    text-align: center;
    font-size: 16px;
    margin: 15px 0 0 0;
    border-radius: 15px;
}

.student__info {
    width: 375px;
}

.info-input__field {
    background: white;
    border-radius: 15px;
    color: #555555;
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.info-input__field:not(:last-child) {
    margin: 0 0 15px 0;
}

.info__input {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

@media (max-width: 1230px) {
    .profile {
        display: block;
    }

    .add-news {
        margin: 0 auto;
        min-width: auto;
    }

    .profile__info {
        margin: 50px auto 0 auto;
        min-width: auto;
    }
}

@media (max-width: 620px) {
    .profile__info {
        display: block;
    }

    .profile__changes {
        margin: 0 auto;
    }

    .student__info {
        margin: 50px 0 0 0;
        width: 100%;
    }
}

/*--- END PROFILE ---*/



/*--- БЛОК С ДОБАВЛЕНИЕМ КАРТИНОК ---*/

.card {
    width: 100%;
    min-height: 360px;
    max-height: max-content;
    background: white;
    border-radius: 15px;
    margin: 0 15px 0 0;
    padding: 15px;
}

.btn {
    color: black;
    position: relative;
    border-radius: 99px;
    border: 2px solid black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    cursor: pointer;
    margin-right: 1rem;
}


.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

input[id=file] {
    display: none;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin: 15px 0 0 0;
}

.preview-image {
    margin: 0 5px 5px 0;
    position: relative;
    height: max-content;
    overflow: hidden;
}

.preview-image.removing {
    transform: scale(0);
    transition: transform .3s;
}

.preview-image:hover .preview-remove {
    opacity: 1;
}

.preview-image:hover .preview-info {
    bottom: 0;
}

.preview-image img {
    width: 180px;
    height: auto;
}

.preview-remove {
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    background: rgb(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .3s;
}

.preview-info {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -30px;
    height: 24px;
    font-size: .8rem;
    background: rgb(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: bottom .3s;
}

.preview-info-progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #297fffa8;
    text-align: center;
    transition: width .3s;
}


/*--- КОНЕЦ БЛОК С ДОБАВЛЕНИЕМ КАРТИНОК ---*/