<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>CSP project</title>
</head>

<body>
    <div class="wrapper">

        <header class="header">
            <div class="header_container container">
                <a class="" href="#">
                    <div class="header_logo_aut"></div>
                </a>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="authorization_block">
                    <p class="welcome_txt">Добро пожаловать!</p>
                    <p class="welcome_txt">Пожалуйста авторизуйтесь</p>
                    <div class="authorization">
                        <div class="data">
                            <p class="enter_data">Введите ваш логин</p>
                            <div class="data_field_block"><input class="data_field" type="text" name="" id=""></div>
                        </div>
                        <div class="data-b">
                            <p class="enter_data-b">Введите ваш пароль</p>
                            <div class="data_field_block"><input class="data_field" type="text" name="" id=""></div>
                            <a href="#"><p class="forgot_password">Забыли пароль?</p></a>
                        </div>
                        <a href="#"><div class="enter_btn">Войти</div></a>
                    </div>
                </div>
            </div>
        </main>

    </div>
</body>

</html>