<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <title>CSP</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__block">
                    <a class="header__logo__link registration__logo__link" href="index.html">
                        <img src="img/logo.png" alt="" class="header__logo t">
                    </a>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="login">
                    <p class="title login__title">Смена пароля</p>
                    <form action="">
                        <div class="login__block">
                            <div class="enter-data">
                                <div class="enter-data__field">
                                    <input placeholder="Введите новый пароль" type="text" class="enter-data__input">
                                </div>
                                <div class="enter-data__field">
                                    <input placeholder="Подтвердите пароль" type="text" class="enter-data__input">
                                </div>
                                <div class="login__btn__block">
                                    <button type="submit" class="login__btn">Сменить пароль</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <div class="footer__block">
                    <p class="footer__txt">Copyright by CSP @2021-2022</p>
                    <img src="img/newlogo.svg" alt="" class="company__logo">
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../js/script.js"></script>
    </div>
</body>

</html>