<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <title>CSP</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__block">
                    <a href="index.html">
                        <img src="img/logo.png" alt="" class="header__logo">
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <div class="header__links">
                        <a class="header__link" href="timetable.html">
                            <div class="links__item">Расписание</div>
                        </a>
                        <a class="header__link" href="grades.html">
                            <div class="links__item">Успеваемость</div>
                        </a>
                        <a class="header__link" href="literature.html">
                            <div class="links__item">Литература</div>
                        </a>
                        <a class="header__link" href="teachers.html">
                            <div class="links__item">Учителя</div>
                        </a>
                        <a class="header__link burger-profile__link" href="">
                            <div class="links__item">Личный кабинет</div>
                        </a>
                    </div>
                    <a class="profile__link" href="profile.html">
                        <div class="header__profile">
                            <div class="profile__img"></div>
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="news__block">
                    <div class="last-news__block">
                        <p class="title last-news__title">Последние интересные новости</p>
                        <div class="last-news">
                            <div class="last-new s1">
                                <div class="last-new__img-block">
                                    <img src="img/news_img.jpg" alt="" class="last-news__img">
                                </div>
                                <p class="last-news__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                                    expedita
                                    quam magnam, officia sapiente quasi quas natus. Lorem ipsum dolor sit amet
                                    consectetur,
                                    adipisicing elit. Quae nesciunt non eius sint iste harum libero cumque totam
                                    aliquid! Et
                                    accusamus recusandae provident commodi eius libero voluptatem ipsam iure velit!</p>
                            </div>
                            <div class="last-new">
                                <div class="last-new__img-block">
                                    <img src="img/news_img.jpg" alt="" class="last-news__img">
                                </div>
                                <p class="last-news__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                                    expedita
                                    quam magnam, officia sapiente quasi quas natus. Lorem ipsum dolor sit amet
                                    consectetur,
                                    adipisicing elit. Quae nesciunt non eius sint iste harum libero cumque totam
                                    aliquid! Et
                                    accusamus recusandae provident commodi eius libero voluptatem ipsam iure velit!</p>
                            </div>
                            <div class="last-new">
                                <div class="last-new__img-block">
                                    <img src="img/news_img.jpg" alt="" class="last-news__img">
                                </div>
                                <p class="last-news__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                                    expedita
                                    quam magnam, officia sapiente quasi quas natus. Lorem ipsum dolor sit amet
                                    consectetur,
                                    adipisicing elit. Quae nesciunt non eius sint iste harum libero cumque totam
                                    aliquid! Et
                                    accusamus recusandae provident commodi eius libero voluptatem ipsam iure velit!</p>
                            </div>
                            <div class="last-new">
                                <div class="last-new__img-block">
                                    <img src="img/news_img.jpg" alt="" class="last-news__img">
                                </div>
                                <p class="last-news__txt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia
                                    expedita
                                    quam magnam, officia sapiente quasi quas natus. Lorem ipsum dolor sit amet
                                    consectetur,
                                    adipisicing elit. Quae nesciunt non eius sint iste harum libero cumque totam
                                    aliquid! Et
                                    accusamus recusandae provident commodi eius libero voluptatem ipsam iure velit!</p>
                            </div>

                        </div>
                    </div>
                    <div class="vk-news__block">
                        <p class="title vk-news__title">Узнайте больше в группе ВК</p>
                        <div class="vk-news">
                            <div id="vk_groups"></div>
                            <script type="text/javascript">
                                VK.Widgets.Group("vk_groups", { mode: 4, wide: 1, width: "auto", height: 456, color1: "111", color2: "fff", color3: "5181B8" }, 8414632);
                            </script>
                        </div>
                    </div>
                </div>
                <div class="week-info__block">
                    <p class="title week-info__title">Краткое расписание</p>
                    <div class="week-info">
                        <div class="timetable-info">
                            <div class="timetable__item">
                                <p class="timetable__date">Cегодня 20.12.2021, понедельник </p>
                                <div class="timetable">
                                    <div class="timetable__line">
                                        <div class="timetable__time">8:30 9:55</div>
                                        <div class="timetable__time">8:30 9:55</div>
                                        <div class="timetable__time">8:30 9:55</div>
                                    </div>
                                    <div class="timetable__line">
                                        <div class="timetable__subject">
                                            <div class="timetable__names">
                                                <p class="subject__name">Математика</p>
                                                <p class="teacher__name">Васечко В.Н.</p>
                                            </div>
                                            <p class="classroom__number">308</p>
                                        </div>
                                        <div class="timetable__subject">
                                            <div class="timetable__names">
                                                <p class="subject__name">Математика</p>
                                                <p class="teacher__name">Васечко В.Н.</p>
                                            </div>
                                            <p class="classroom__number">308</p>
                                        </div>
                                        <div class="timetable__subject">
                                            <div class="timetable__names">
                                                <p class="subject__name">Математика</p>
                                                <p class="teacher__name">Васечко В.Н.</p>
                                            </div>
                                            <p class="classroom__number">308</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="timetable__item">
                                <p class="timetable__date">Cегодня 20.12.2021, понедельник </p>
                                <div class="timetable">
                                    <div class="timetable__line">
                                        <div class="timetable__time">8:30 9:55</div>
                                        <div class="timetable__time">8:30 9:55</div>
                                        <div class="timetable__time">8:30 9:55</div>
                                    </div>
                                    <div class="timetable__line">
                                        <div class="timetable__subject">
                                            <div class="timetable__names">
                                                <p class="subject__name">Математика</p>
                                                <p class="teacher__name">Васечко В.Н.</p>
                                            </div>
                                            <p class="classroom__number">308</p>
                                        </div>
                                        <div class="timetable__subject">
                                            <div class="timetable__names">
                                                <p class="subject__name">Математика</p>
                                                <p class="teacher__name">Васечко В.Н.</p>
                                            </div>
                                            <p class="classroom__number">308</p>
                                        </div>
                                        <div class="timetable__subject">
                                            <div class="timetable__names">
                                                <p class="subject__name">Математика</p>
                                                <p class="teacher__name">Васечко В.Н.</p>
                                            </div>
                                            <p class="classroom__number">308</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__block">
                <p class="footer__txt">Copyright by CSP @2021-2022</p>
                <img src="img/newlogo.svg" alt="" class="company__logo">
            </div>
        </div>
    </footer>

    <link rel="stylesheet" href="slick/slick.css">
    <link rel="stylesheet" href="slick/slick-theme.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="slick/slick.min.js"></script>
    <script src="js/script.js"></script>
    </div>
</body>

</html>