<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?169"></script>
    <title>CSP project</title>
</head>

<body>
    <div class="wrapper">

        <header class="header">
            <div class="header_container container">
                <a class="" href="index.html">
                    <div class="header_logo"></div>
                </a>

                <nav class="nav_menu menu">
                    <ul class="nav_list">
                        <li class="nav_item">
                            <a href="timetable.html" class="item_link">Расписание</a>
                        </li>
                        <li class="nav_item">
                            <a href="/journal" class="item_link">Успеваемость</a>
                        </li>
                        <li class="nav_item">
                            <a href="/literature" class="item_link">Литература</a>
                        </li>
                        <li class="nav_item">
                            <a href="teachers.html" class="item_link">Учителя</a>
                        </li>
                    </ul>
                </nav>

                <div class="login">
                    <div class="login_img">
                         <div class="login_list">
                             <div class="login_item"><a href="">Сменить пароль</a></div>
                             <div class="login_item"><a href="">Выйти из аккаунта</a></div>
                         </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="news">
                    <div class="last_news">
                        <p class="title">Последние интересные события</p>
                        <div class="last_news_block">
                            <div class="last_news_img"></div>
                            <div class="last_news_txt">С 13 по 16 декабря сразу в трех центрах проведения
                                демонстрационного экзамена, аккредитованных по стандарту Ворлдскиллс Россия, созданных
                                на базе колледжа, состоялся демонстрационный экзамен.</div>
                        </div>
                    </div>
                    <div class="vk_news">
                        <p class="title">Узнайте больше в группе ВК</p>
                        <div class="vk_news_block">
                            <div id="vk_groups"></div>
                            <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {mode: 4, width: "auto", height: "550", color3: '000000'}, 8414632);
                            </script>
                        </div>
                    </div>
                </div>
                <div class="short_inf">
                    <p class="title">Сводные данные недели</p>
                    <div class="short_inf_block">
                        <div class="inf_block">
                            <p class="subtitle">Ваши оценки за неделю</p>
                            <div class="short_grades">
                                <div class="item-grades_line">
                                    <div class="short_item-grades">Предметы</div>
                                    <div class="short_item-grades">Оценки</div>
                                </div>
                            </div>
                        </div>
                        <div class="inf_block">
                            <p class="subtitle">Расписание на {{ period }}</p>
                            <div class="short_timetable_block">
                                <p class="subtitle"></p>
                                <div class="short_timetable">
                                    <div class="timetable_line">
                                        <div class="timetable_date">-</div>
                                        <div class="timetable_item">
                                            <div class="timetable_item-name">Математика</div>
                                            <div class="timetable_subtitle">Васечко В.Н.</div>
                                        </div>
                                        <div class="timetable_class">-</div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <p class="footer_txt">Copyright by CSP @2021-2021</p>
                <div class="footer_img"></div>
            </div>
        </footer>
    </div>
</body>

</html>