{% extends "grades.html" %}

{% block table %}

{% set id = user_id %}

{% for i in range(1, items + 1) %}
    {% set l = 0 %}
    {% set Marks = [] %}

    {% set lessonName = (Lessons.query.filter_by(Id=i).first()).LessonName %}
    {% set AllMarks = MarksList.query.filter_by(PupilId=id).all() %}

    {% for j in AllMarks %}

            {% if j.LessonId == i %}
            {{ Marks.append( j.Mark ) or ""}}
            {% endif %}

    {% endfor %}

    {% set Marks = Marks|join(', ') %}

    {% set MissedLessonsUsers = MissedLessons.query.filter(MissedLessons.UserId==id).filter(MissedLessons.IsSkippedAllLesson=='1').filter(MissedLessons.SkippedLessonId==i).all() %}
    {% if MissedLessonsUsers %}
        {% for y in MissedLessonsUsers %}
            {% set l = str(len(MissedLessonsUsers)) %}
        {% endfor %}
    {% endif %}
    <div class="grades_list">
        <div class="subject_number-inf">{{ i }}</div>
        <div class="subject_name-inf">{{ lessonName }}</div>
        <div class="grades-inf">{{  Marks|default('', True) }}</div>
        <div class="lateness-inf"></div>
        <div class="omission_all-inf">{{ l }}</div>
        <div class="omission_diseace-inf"></div>
        <div class="average_score-inf"></div>
        <div class="mounth_total-inf"></div>
    </div>

{% endfor %}

{% endblock %}





