<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://vk.com/js/api/openapi.js?169" type="text/javascript"></script>
    <title>CSP</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__block">
                    <a href="index.html">
                        <img src="img/logo.png" alt="" class="header__logo">
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                    <div class="header__links">
                        <a class="header__link" href="timetable.html">
                            <div class="links__item">Расписание</div>
                        </a>
                        <a class="header__link" href="">
                            <div class="links__item">Успеваемость</div>
                        </a>
                        <a class="header__link" href="literature.html">
                            <div class="links__item">Литература</div>
                        </a>
                        <a class="header__link" href="teachers.html">
                            <div class="links__item">Учителя</div>
                        </a>
                        <a class="header__link burger-profile__link" href="">
                            <div class="links__item">Личный кабинет</div>
                        </a>
                    </div>
                    <a class="profile__link" href="profile.html">
                        <div class="header__profile">
                            <div class="profile__img"></div>
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <main class="main">
            <div class="container">
                <div class="literature">
                    <p class="title literature__title">Литература</p>
                    <div class="search__block">
                        <input class="search__field" type="text" placeholder="Поиск по литературе">
                        <button class="search-btn">
                            <img class="search-btn__img" src="img/3844432-magnifier-search-zoom_110300.png" alt="">
                        </button>
                    </div>
                    <div class="literature__list">
                        <a href="">
                            <div class="literature__item">
                                <div class="literature__img__block">
                                    <img class="literature__img" src="img/image4.png" alt="">
                                </div>
                                <p class="literature__txt">Математика 11 класс</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="literature__item">
                                <div class="literature__img__block">
                                    <img class="literature__img" src="img/image4.png" alt="">
                                </div>
                                <p class="literature__txt">Математика 11 класс</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="literature__item">
                                <div class="literature__img__block">
                                    <img class="literature__img" src="img/image4.png" alt="">
                                </div>
                                <p class="literature__txt">Математика 11 класс</p>
                            </div>
                        </a>
                        <a href="">
                            <div class="literature__item">
                                <div class="literature__img__block">
                                    <img class="literature__img" src="img/image4.png" alt="">
                                </div>
                                <p class="literature__txt">Математика 11 класс</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="container">
                <div class="footer__block">
                    <p class="footer__txt">Copyright by CSP @2021-2022</p>
                    <img src="img/newlogo.svg" alt="" class="company__logo">
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="../js/script.js"></script>
    </div>
</body>

</html>